* {
    box-sizing: border-box;
}
a{
    color: white; 
}
body{
    background-color: #003366;
    color: white;  
}

nav{
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0; 
}

h3 {
    font-family: 'Bitter', serif;
}

header{
    font-family: 'Bitter', serif;
}

section{
    font-family: 'Raleway', sans-serif;
    min-height: 200px; 
}

.screenshot{
    width: 50vw; 
    height: 50vh; 
}