* {
    box-sizing: border-box;
}
a{
    color: white; 
}
body{
    background-color: #003366;
    color: white;  
}

nav{
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0; 
}

h3 {
    font-family: 'Bitter', serif;
}

header{
    font-family: 'Bitter', serif;
    padding: 10%;
}

section{
    font-family: 'Raleway', sans-serif;
    min-height: 200px; 
}

section:nth-child(even){
}


font-family: 'Bitter', serif;
font-family: 'Raleway', sans-serif;